# Template Service Broker Operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: template-service-broker-operator
  namespace: REPLACE_NAMESPACE
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - configmaps
  - secrets
  - services
  - services/finalizers
  verbs:
  - "*"
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/finalizers
  - replicasets
  verbs:
  - "*"
- apiGroups:
  - apps.openshift.io
  resources:
  - deploymentconfigs
  verbs:
  - "*"
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  - servicemonitors
  verbs:
  - '*'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: template-service-broker-operator
rules:
- apiGroups:
  - osb.openshift.io
  resources:
  - templateservicebrokers
  - templateservicebrokers/status
  verbs:
  - "*"
- apiGroups:
  - servicecatalog.k8s.io
  resources:
  - clusterservicebrokers
  - servicebrokers
  verbs:
  - "*"

# Template Service Broker Client
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: template-service-broker-client
rules:
- nonResourceURLs:
  - /brokers/template.openshift.io/*
  verbs:
  - delete
  - get
  - put
  - update

# APIServer
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: template-service-broker-apiserver
rules:
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.openshift.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - template.openshift.io
  resources:
  - brokertemplateinstances
  verbs:
  - create
  - delete
  - get
  - update
- apiGroups:
  - template.openshift.io
  resources:
  - brokertemplateinstances/finalizers
  verbs:
  - update
- apiGroups:
  - template.openshift.io
  resources:
  - templateinstances
  verbs:
  - assign
  - create
  - delete
  - get
- apiGroups:
  - template.openshift.io
  resources:
  - templates
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  - services
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - routes
  verbs:
  - get
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
